body{
    background-color:rgb(201, 177, 177);
}
.App{
    background-color: burlywood;
    min-height: 500px;
    width:400px;
    margin: 40px auto;
}
#to-do-form input{
    background-color: crimson;
    border: 0;
    width:200px;
    height:50px;
    padding:0 20px;
    margin:20px;
    font-size:18px;
    border-radius: 10px;
    color:honeydew;
}
#to-do-form input::placeholder{
    color:honeydew;
}
#to-do-form input:focus{
    outline: none;
}
#to-do-form button{
    height: 50px;
    width:80px;
    border-radius: 5px;
    border:0;
    background-color:lightgray;
    cursor: pointer;
    color:saddlebrown;
    font-weight: bold;
    
}